html
{
    font-size: 6.25%;
}
*
{
    font-size: 16rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a
{
    text-decoration: none;
}
p
{
    text-wrap:pretty;
}

.finterssbold36
{
    font-family: "inter", sans-serif;
    font-size: 36rem;
    font-weight: 600;
    text-align: left;
    color: white;
}

.finterssbold18
{
    font-family: "inter", sans-serif;
    font-size: 18rem;
    font-weight: 600;
    text-align: left;
    color: white;
}

.finterbold24
{
    font-family: "inter", sans-serif;
    font-size: 24rem;
    font-weight: 700;
    text-align: left;
    color: white;
}

.fpublicsw-grey14
{
    font-family: "Public Sans Web", sans-serif;
    font-size: 14rem;
    color: grey;
}
.fpublicsw-white14
{
    font-family: "Public Sans Web", sans-serif;
    font-size: 14rem;
    color: white;
    line-height: 24rem;
}

.fdmmono-white12
{
    font-family: "DM Mono", monospace;
    font-size: 12rem;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
}

.fdmmono-white8
{
    font-family: "DM Mono", monospace;
    font-size: 10rem;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}

.navbutton
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: solid 4px black;
    padding: .5em 1em;
}

.nvbsmall
{
    background-color: transparent;
    border: solid 4px black;
}



.svgspan
{
    width: 25px;
    padding-left: .5em;
}


.button-white-arrow
{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: transparent;
    border: solid 4px transparent;
    padding-top: .5em;
}

.button-white-arrow:hover rect
{
    fill: rgb(170, 31, 31);
}

.objhovfoc:hover
{
    cursor: pointer;
}
.objhovfoc:focus
{
    border: solid 4px rgb(21, 149, 235);
}








.pagegrid
{
    display: grid;
    grid-template-rows: 85px max-content 1fr 1350px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer"
    ;
}
.parentbg
{
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.figbg
{
    z-index: -1;
    filter: brightness(40%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
}
.imgbg
{
    min-width: 100%
}

.button-black-arrow-right
{
    margin: 1em 0 1em 0;
}




nav
{
    grid-area: nav;
    display: flex;
    align-items: center;
    background-color: black;
}
    .navgrid
    {
        display: grid;
        width: 100%;
        height: 55px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
        "menu logo search"
        ;
        align-items: center;
        padding: 0 1em 0 1em;
        
    }
    .navsearch, .navlinks
    {
        display: none;
    }
    .navsmallmenu
    {
        grid-area: menu;
        justify-self: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 35px;
        height: 25px;
    }

    .navsmallmenu hr
    {
        border: none;
        width: 100%;
        height: 3px;
        background-color: white;

    }


    .navlogo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: logo;
    }
        .navlogo img
        {
            display: block;
            width: 60px;
            height: 50px;
        }
    .navsmallsearch
    {
        grid-area: search;
        justify-self: right;

        width: 30px;
        height: 30px;
    }

    .navinput
    {
        height: 35px;
        background-color: black;
        border: solid 1px rgb(75, 75, 75);
        padding-left: .5em;
    }

    
    .nvsmall
    {
        background-color: transparent;
    }

.mainheader
{
    grid-area: header;
    height: max-content;
    
}
    .headergrid
    {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 3fr 2fr;
        grid-template-areas: 
        "hart "
        "hsect"
        ;
        padding: 0 1.5em 0 1.5em;
        margin: 4em 0 2em 0;
    }
    .hart
    {
        grid-area: hart;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

        .hart h2, .hart p, .hart button
        {
            margin-bottom: 24rem;
        }
        

        .hbutton
        {
            display: flex;
            align-items:center;
            justify-content: space-evenly;
            background-color: rgb(212, 35, 35);
            border: solid 4px transparent;
            padding: .5em;
            width: 200px;
            border-radius: 5px;
            cursor: pointer;
        }
        .hbutton:hover
        {
            background-color: rgb(170, 31, 31);

        }

        .hsect
        {
            grid-area: hsect;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
        }
        
        .hsect hr
        {
            border: solid .1px rgba(128, 128, 128, 0.76);  
        }
        .hsect hr, .hsect h3
        {
            margin-top: 16rem;
            margin-bottom: 8rem;
        }


main
{
    grid-area: main;
    display: grid;
    grid-template-rows:1fr 880px max-content 880px 1fr 880px max-content;
    grid-template-areas:
    "fnews"
    "fstory"
    "imgday"
    "info"
    "lnews"
    "explore"
    "topics"
    ;
    background-color: white;

}



.fnews
{
    grid-area: fnews;
    padding: 3em 2.5em;
    max-height: 2100px;
}
    .newsgrid
    {
        display: grid;
        grid-template-rows: 150px 1265px 1fr;
        grid-template-areas: 
        "nheader"
        "nblock"
        "nflex"
        ;
    }
        .nheader
        {
            grid-area:nheader;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .nblock
        {
            grid-area:nblock ;
            display: grid;
            grid-template-rows: 2fr 2fr 1fr 1fr;
            
        }
            
            .nbpadding
            {
                width: 100%;
                height: 100%;
                padding-bottom:1.5em ;
            }
            .nbflex
            {
                width: 100%;
                height: 100%;
            }

        .nflex
        {
            grid-area: nflex;
            display: flex;
            flex-direction: column;
            margin-top: 1em;
            max-height: 600px;
        }
            .nfpadding
            {
                width: 100%;
                height: 100%;
                padding-bottom:1.5em ;
            }
            
            .nfgrid
            {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 105px 2fr;
                grid-template-areas: 
                "nfimg nftext"
                ;
            }
                .nffig
                {
                    grid-area: nfimg;
                    padding-right: 1.5em;
                }
                    .nfimg
                    {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                    }
                
                .nftext
                {
                    grid-area: nftext;
                }


.banner
{
    padding: 8em 2.5em;
}

    .bannergrid
    {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

        .bannerflex
        {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

.fstory
{
    grid-area: fstory;

}
.imgday
{
    grid-area: imgday;
    padding: 5em 1.5em;
    height: max-content;
}
    
    .imgdaygrid
    {
        display: grid;
        grid-template-rows: 80px max-content max-content   ;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "himgday"
        "fimgday"
        "simgday"
        ;

    }

        .himgday
        {
            grid-area: himgday;
        }
        .fimgday
        {
            display: flex;
            flex-direction: column;
            grid-area: fimgday;
        }
            .img-imgday
            {
                width: 100%;
            }

        .simgday
        {
            grid-area: simgday;
        }
        


.info
{
    grid-area: info;

}
.lnews
{
    grid-area: lnews;
    padding: 3em 2.5em;
    max-height: 2100px;

}
.explore
{
    grid-area: explore;

}
.topics
{
    grid-area: topics;
    padding: 2em 1em;
    min-height: 700px;
}
.topicsgrid
{
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
    'theader'
    'tcardcontainer'
    ;
    align-items: center;
    overflow-x:auto;
    height: 100%;
}
.theader
{
    grid-area: theader;
}
.tcardcontainer
{
    grid-area: tcardcontainer;
    display: flex;
    align-items: center;
    overflow-x:auto;
    height: 100%;
    margin-bottom: 2em;
}

.tcardcontainer::-webkit-scrollbar
{

    height: 5px;

}

.tcardcontainer::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: gray;
}

.tcardcontainer::-webkit-scrollbar-track
{
    
    background-color: rgba(255, 255, 255, 0.055);
}
.tcard
{
    min-width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 .75em 0 .75em;
}




footer
{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 0em 1.5em;
    max-height: 1450px;
}
    .footergrid
    {
        display: grid;
        height: 100%;
        grid-template-rows: 3fr 10fr 10fr 8fr 6fr 4fr;
        grid-template-areas: 
        "logofooter"
        "nasaabout"
        "footerlinks"
        "footersocial"
        "nasainfo"
        "pageinfo"
        ;
    }

        .logofooter
        {
            grid-area: logofooter;
        }

        .footerlogo
        {
            display: flex;
            justify-content: left;
            align-items: center;
        }
            .footerlogo img
            {
                width: 70px;
                height: 60px;
            }
        .nasaabout
        {
            grid-area: nasaabout;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2em;
        }
        .footerlinks
        {
            grid-area: footerlinks;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;

        }
        .footersocial
        {
            grid-area: footersocial;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
            
            .socialicon
            {
                width: 35px;
            }
            .socialmedia
            {
                display: flex;
                justify-content: left;
            }
        .nasainfo
        {
            position: relative;
            padding-top: 1.5em;
            grid-area: nasainfo;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
        }
            .hrfooter
            {
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
            }
        .pageinfo
        {
            height: 200px;
            padding: 2em 0 2em 0;
            grid-area: pageinfo;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    