html
{
    font-size: 6.25%;
}
*
{
    font-size: 16rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagegrid
{
    display: grid;
    grid-template-rows: 85px 640px 1fr 1350px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer"
    ;
}
.parentbg
{
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.figbg
{
    z-index: -1;
    filter: brightness(70%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
}
.imgbg
{
    min-width: 100%
}

.button-black-arrow-right
{
    margin: 1em 0 1em 0;
}
nav
{
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 15px;
}
    .navgrid
    {
        display: grid;
        width: 100%;
        height: 55px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas: 
        "menu logo search"
        ;
    }
    .navsearch, .navlinks
    {
        display: none;
    }
    .navsmallmenu
    {
        grid-area: menu;
    }
    .navlogo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: logo;
    }
        .navlogo img
        {
            width: 60px;
            height: 50px;
        }
    .navsmallsearch
    {
        grid-area: search;
    }




.mainheader
{
    grid-area: header;
    
}
    .headergrid
    {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "hart "
        "hsect"
        ;
        padding: 0 1.5em 0 1.5em;
    }
    .hart
    {
        grid-area: hart;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .hsect
        {
            grid-area: hsect;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
        }



main
{
    grid-area: main;
    display: grid;
    grid-template-rows:1fr 880px max-content 880px 1fr 880px max-content;
    grid-template-areas:
    "fnews"
    "fstory"
    "imgday"
    "info"
    "lnews"
    "explore"
    "topics"
    ;
}



.fnews
{
    grid-area: fnews;
    background-color:blueviolet;
    padding: 3em 2.5em;
    max-height: 2100px;
}
    .newsgrid
    {
        display: grid;
        grid-template-rows: 150px 1265px 1fr;
        grid-template-areas: 
        "nheader"
        "nblock"
        "nflex"
        ;
    }
        .nheader
        {
            grid-area:nheader;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .nblock
        {
            grid-area:nblock ;
            display: grid;
            grid-template-rows: 2fr 2fr 1fr 1fr;
            
        }
            
            .nbpadding
            {
                width: 100%;
                height: 100%;
                padding-bottom:1.5em ;
            }
            .nbflex
            {
                width: 100%;
                height: 100%;
            }

        .nflex
        {
            grid-area: nflex;
            display: flex;
            flex-direction: column;
            margin-top: 1em;
            max-height: 600px;
        }
            .nfpadding
            {
                width: 100%;
                height: 100%;
                padding-bottom:1.5em ;
            }
            
            .nfgrid
            {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 105px 2fr;
                grid-template-areas: 
                "nfimg nftext"
                ;
            }
                .nffig
                {
                    grid-area: nfimg;
                    padding-right: 1.5em;
                }
                    .nfimg
                    {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                    }
                
                .nftext
                {
                    grid-area: nftext;
                }


.banner
{
    padding: 8em 2.5em;
}

    .bannergrid
    {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

        .bannerflex
        {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

.fstory
{
    grid-area: fstory;

}
.imgday
{
    grid-area: imgday;
    background-color:blueviolet;
    padding: 5em 1.5em;
    height: max-content;
}
    
    .imgdaygrid
    {
        display: grid;
        grid-template-rows: 80px max-content max-content   ;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        "himgday"
        "fimgday"
        "simgday"
        ;

    }

        .himgday
        {
            grid-area: himgday;
        }
        .fimgday
        {
            display: flex;
            flex-direction: column;
            grid-area: fimgday;
        }
            .img-imgday
            {
                width: 100%;
            }

        .simgday
        {
            grid-area: simgday;
        }
        


.info
{
    grid-area: info;

}
.lnews
{
    grid-area: lnews;
    background-color:blueviolet;
    padding: 3em 2.5em;
    max-height: 2100px;

}
.explore
{
    grid-area: explore;

}
.topics
{
    grid-area: topics;
    background-color:blueviolet;
    padding: 2em 1em;
    min-height: 700px;
}
.topicsgrid
{
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
    'theader'
    'tcardcontainer'
    ;
    align-items: center;
    overflow-x:auto;
    height: 100%;
}
.theader
{
    grid-area: theader;
}
.tcardcontainer
{
    grid-area: tcardcontainer;
    display: flex;
    align-items: center;
    overflow-x:auto;
    height: 100%;
    margin-bottom: 2em;
}

.tcardcontainer::-webkit-scrollbar
{

    height: 5px;

}

.tcardcontainer::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: gray;
}

.tcardcontainer::-webkit-scrollbar-track
{
    
    background-color: rgba(255, 255, 255, 0.055);
}
.tcard
{
    min-width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 .75em 0 .75em;
}




footer
{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 0em 1.5em;
    max-height: 1450px;
}
    .footergrid
    {
        display: grid;
        height: 100%;
        grid-template-rows: 3fr 10fr 10fr 8fr 6fr 4fr;
        grid-template-areas: 
        "logofooter"
        "nasaabout"
        "footerlinks"
        "footersocial"
        "nasainfo"
        "pageinfo"
        ;
    }

        .logofooter
        {
            grid-area: logofooter;
        }

        .footerlogo
        {
            display: flex;
            justify-content: left;
            align-items: center;
        }
            .footerlogo img
            {
                width: 70px;
                height: 60px;
            }
        .nasaabout
        {
            grid-area: nasaabout;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2em;
        }
        .footerlinks
        {
            grid-area: footerlinks;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;

        }
        .footersocial
        {
            grid-area: footersocial;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
            
            .socialicon
            {
                width: 35px;
            }
            .socialmedia
            {
                display: flex;
                justify-content: left;
            }
        .nasainfo
        {
            position: relative;
            padding-top: 1.5em;
            grid-area: nasainfo;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
        }
            .hrfooter
            {
                position: absolute;
                top: 0;
                width: 100%;
                height: 2px;
            }
        .pageinfo
        {
            height: 200px;
            padding: 2em 0 2em 0;
            grid-area: pageinfo;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    